body {
  background-color:  bubblegum pink;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: darkred;
}

    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff0f5;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}




